:root {
  --color-white: #FFF;
  --color-header: #252B42;
  --color-accent: #FA4A0C;
  --color-intro-bg: #FAFAFA;
  --color-separator-line: #E4E4E4;
  --color-text: #737373;
  --color-light-text: #BDBDBD;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-family: 'Montserrat', sans-serif;
}

.header,
.intro,
.outro,
.section,
.footer {
  display: flex;
  flex-direction: column;
}

.intro,
.outro,
.section {
  padding-top: 50px;
}

.intro,
.outro {
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--color-white);
  z-index: -2;
}

.intro::before,
.outro::before {
  content: '';
  z-index: -1;
}

.text-heading-content {
  text-align: center;
  max-width: 900px;
}

.heading,
.sub-heading,
.accent-heading {
  padding: 10px;
  color: var(--color-header);
}

.text {
  color: var(--color-text);
  font-weight: 500;
  margin: 0 30px;
  padding: 10px;
}

.img-wrapper {
  display: inline-block;
}

.img {
  display: block;
  max-height: 100vh;
}

.links {
  margin: 40px auto;
}

.link {
  display: inline-block;
  min-width: 235px;
  color: var(--color-white);
  border: 1px solid;
  border-radius: 30px;
  padding: 16px;
  font-weight: 700;
  text-decoration: none;
}

.link + .link {
  margin-top: 20px;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}
