.img-group {
  position: relative;
  width: fit-content;
  /* height: 600px; */
  /* height: 100%; */
  margin: 0 auto;
  font-size: 0;
  top: -30px;
}

.left-img-wrapper,
.right-img-wrapper {
  width: 50%;
}

.left-img,
.right-img {
  position: relative;
  width: 100%;
}

.left-img {
  top: -50px;
  left: 0;
  z-index: 3;
}

.right-img {
  top: 0;
  right: 0;
  z-index: 2;
}

.separator-line {
  margin: 30px auto;
  width: 75%;
  max-width: 900px;
  border: 2px solid #E4E4E4;
}

.guide-heading {
  text-align: center;
  margin-bottom: 0;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  text-align: center;
  /* border: 2px solid orange; */
}

.create-account,
.explore {
  flex-direction: column;
}

.accent-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: var(--color-accent);
}

.outro {
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  color: var(--color-white);
  background-color: #252B42;
  z-index: 2;
}

.outro::before {
  opacity: 0.4;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Medium.ttf) format('TrueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Bold.ttf) format('TrueType');
  font-weight: 700;
  font-style: normal;
}

@media (min-height: 768px) {
  .img-group {
    top: -100px;
  }
}

@media (min-width: 768px) {
  .create-account {
    flex-direction: row-reverse;
  }
  .explore {
    flex-direction: row;
  }
  .outro::before {
    background-image: url(../images/outro-background.jpg);
  }  
}