* {
  margin: 0;
  text-align: center;
}

:root {
  --color-main: #2e2f2c;
  --color-alt: #eaeaea;
  --color-accent: #2690d4;
  --padding: 40px;
  font-size: 20px;
}

.flex {
  display: flex;
}

.header-container,
.main {
  flex-direction: column;
}

.header {
  position: relative;
}

.header-container {
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url(../images/header.png);
  background-size: cover;
  background-position: center;
  opacity: 0.85;
}

.section {
  padding: var(--padding);
}

.more,
.email {
  text-decoration: none;
}

.more {
  margin-top: calc(var(--padding) / 2);
  padding: calc(var(--padding) / 4) calc(var(--padding) / 2);
  border: 1px solid;
}

.more:hover {
  color: var(--color-main);
}

.more:hover,
.main,
.card {
  background-color: var(--color-alt);
}

.more,
.cards,
.about-card {
  background-color: var(--color-main);
}

.heading,
.subheading,
.card-heading {
  margin-bottom: calc(var(--padding) / 2);
  color: var(--color-main);
}

.heading {
  font-size: 2.5rem;
}

.subheading {
  font-size: 2rem;
}

.card-heading {
  font-size: 1.5rem;
}

.thin {
  max-width: 768px;
  margin: 0 auto;
}

.thin,
.inside {
  padding: calc(var(--padding) / 2);
}

.cards {
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding);
}

.card {
  max-width: 400px;
  margin: calc(var(--padding) * 3 / 4) calc(var(--padding) / 4);
}

.card-image {
  width: 100%;
  display: block;
}

.black {
  color: var(--color-main);
}

.white {
  color: var(--color-alt);
}

.contacts-card,
.about-card {
  width: 50%;
}

.contacts-card,
.about-card {
  padding: var(--padding);
}

.contacts-card {
  background-color: var(--color-accent);
}

.email {
  display: inline-block;
  margin-top: var(--padding);
}

.footer {
  flex-direction: row;
  justify-content: space-around;
  padding: calc(var(--padding) / 2);
  color: var(--color-alt);
  background-color: black;
}

.credits {
  color: var(--color-accent);
  text-decoration: none;
}
